body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    background: linear-gradient(to right, #f3e8ff, #e2abf0);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.contact-container {
    max-width: 500px;
    margin: auto;
    background: #d5d5ff;
    color: #905e8c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.Heading {
    color:#000
}
.contact-card p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-card a {
    text-decoration: none;
    color: #6e5dce;
    font-weight: bold;
}

.download-btn {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background: #6e5dce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background: #6a11cb;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 25px 50px;
    margin: 40px auto;
    width: 85%;
    border: 1px solid #000;
    border-radius: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 5px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff5e57;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons .icon {
    font-size: 25px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons .icon:hover {
    color: #ff5e57;
}
