body {
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.skill-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.skill-box img {
    width: 50px;
    height: 50px;
}

.skill-name {
    font-size: 18px;
    font-weight: bold;
    color: #d290d3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 25px 50px;
    margin: 40px auto;
    width: 85%;
    border: 1px solid #000;
    border-radius: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 5px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff5e57;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons .icon {
    font-size: 25px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons .icon:hover {
    color: #ff5e57;
}